<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= project.url %>
  </p>

  <p>
    <strong>Codebase:</strong>
    <%= project.codebase %>
  </p>

  <p>
    <strong>Ruby version:</strong>
    <%= project.ruby_version %>
  </p>

  <p>
    <strong>Rails version:</strong>
    <%= project.rails_version %>
  </p>

  <p>
    <strong>Front end framework:</strong>
    <%= project.front_end_framework %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
