<div id="<%= dom_id experience %>">
  <p>
    <strong>Name:</strong>
    <%= experience.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= experience.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= experience.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= experience.description %>
  </p>

</div>
